.mdi-18 {
  font-size: 18px;
  margin-top: -.7em !important;
}

.mdi-24 {
  font-size: 24px;
  margin-top: -.7em !important;
}

.app404 {
  top: calc(100vh / 3);
  text-align: center;
  position: relative;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(211, 211, 211, 0.5);

  span {
    color: rgba(0, 0, 0, 0.5);
  }
}

body {
  background: lightgray;
}

.samples-list {
  width: 100% !important;

  .p-listbox-list-wrapper {
    max-height: 450px;
  }

  div {
    width: 100%;
  }

  .p-highlight {
    background: inherit !important;
    color: inherit !important;
  }
}

.tags-search {
  width: 100% !important;

  .p-autocomplete-multiple-container {
    width: 100%;
  }
}


.app-tools {
  padding-top: 10px;

  .p-col {
    button {
      width: 100%;
    }
  }
}

.emoji {
  font-weight: 400;
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}

.app-title {
  position: fixed;
  font-size: 20px;
  margin-block-start: 0.12em;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.doc-content, .toc-content {
  code {
    background: #f8f8f8;
    color: #333;
    padding: 0.15em;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #0088bb;
  }

  thead {
    background: #006b96;
  }


  thead {
    color: white;
  }

  th, td {
    text-align: center;
    padding: 5px 3px;
  }

  tbody tr:nth-child(even) {
    background: #ECF0F1;
  }

  tbody tr:hover {
    background: #BDC3C7;
    color: #FFFFFF;
  }
}
