.mdi-18 {
    font-size: 18px;
    margin-top: -.7em !important;
}
.mdi-24 {
    font-size: 24px;
    margin-top: -.7em !important;
}
.app404 {
    top: calc(100vh / 3);
    text-align: center;
    position: relative;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(211,211,211,0.5);
}
.app404 > span {
    color: rgba(0,0,0,0.5);
}
body {
    background: lightgray;
}

.tags-search, .samples-list {
    width: 100% !important;
}

.tags-search > .p-autocomplete-multiple-container {
    width: 100%;
}


.samples-list > .p-listbox-list-wrapper {
    max-height: 450px;
}

.samples-list > div {
    width: 100%;
}

.samples-list .p-highlight {
    background: inherit !important;
    color: inherit !important;
}

.app-tools {
    padding-top: 10px;
}

.app-tools > .p-col > button {
    width: 100%;
}

code {
    background: #f8f8f8;
    color: #333;
    padding: 0.5em;
}
